메모장 관리 API 서버를 만들어라.

> 서버의 요구사항은 다음과 같다.
>
> 1. Spring Boot를 통해 JSON으로 클라이언트와 소통할 것.
> 2. Lombok 이외의 라이브러리는 사용하지 않을 것.
> 3. DB를 사용하지 않고, 내부적으로 데이터를 저장할 것.
> 4. 유저는 ID와 name이 존재한다.
> 5. 메모는 ID와 content(메모의 내용), 작성 유저 ID가 존재한다.
> 6. 모든 유저는 메모를 작성할 수 있다.
> 7. 모든 유저는 자신이 작성한 메모를 전체 조회하거나, 메모 ID를 통해 조회할 수 있다.
> 8. 만약 자신의 메모가 아닌 메모를 조회하면 예외를 발생시켜야 한다.
> 9. 모든 유저는 자신이 작성한 메모를 메모 ID를 통해 삭제할 수 있다.
> 10. 모든 유저는 자신이 작성한 메모를 메모 ID를 통해 수정할 수 있다. 단, 메모 ID는 변경할 수 없다.

서버의 요구사항에서 비즈니스 로직을 추출해 작성하라.

예시는 강의 자료 참고.비즈니스 로직을 통해 API를 설계해 작성하라.

예시는 강의 자료 참고.API 설계를 통해 Controller, Service, Repository, 기타 필요한 클래스와 코드를 작성하라.

전부 구현한 후, Postman을 통해 테스트하는 영상을 촬영하라.제출해야 하는 것은 다음과 같습니다.

1. 비즈니스 로직 목록(GitHub README.md에 작성)

2. API 설계 목록(GitHub README.md에 작성)

3. 코드(GitHub에 프로젝트 전체 업로드)

4. Postman 영상(DM)